body {
  background-color: rgb(241, 176, 176);
  display: flex;
}
.section {
  margin: 100px;
  text-align: center;
  box-shadow: 1px -1px 6px 0px;
  padding: 20px;
  button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  p {
    font-size: 30px;
    color: red;
  }
}
