/*media queries breakpoints*/
/* Color */
/* Font Family */
.carousel {
  background: url(../../images/bg.jpg) no-repeat;
  height: 690px;
  width: 100%;
  background-position: center;
}

header {
  max-width: 1830px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  header .mob-nav {
    display: none;
  }
}
header nav {
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 991px) {
  header nav {
    display: none;
    display: block;
    position: absolute;
    background: #fff;
    top: 90px;
    left: 15px;
    width: calc(100% - 30px);
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 40px 15px -35px rgba(32, 40, 51, 0.4);
  }
}
@media (min-width: 992px) {
  header nav {
    display: block;
  }
}
header nav a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 38px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 1px;
}
@media (max-width: 991px) {
  header nav a {
    display: block;
    margin: 5px 0;
  }
}

.head-content {
  display: flex;
  justify-content: flex-end;
  align-items: inherit;
}
@media (max-width: 991px) {
  .head-content {
    justify-content: center;
    text-align: center;
  }
}
.head-content .head {
  max-width: 500px;
  margin-top: 72px;
}
.head-content .paragraph-style {
  color: #777777;
}

.sec-spacing {
  text-align: center;
  margin-top: 50px;
  padding-top: 93px;
}
.sec-spacing .content-spacing {
  max-width: 543px;
  margin: 0 auto;
}

.uldisplay {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 18px;
  padding: 10px 57px;
  justify-content: center;
}
.uldisplay li {
  width: calc(0% - 18px);
}
@media (max-width: 1500px) {
  .uldisplay li {
    min-width: 283px;
  }
}

.blue-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .blue-box {
    flex-wrap: wrap;
    gap: 40px;
  }
}
.blue-box > div {
  padding: 20px 20px;
}
@media (max-width: 991px) {
  .blue-box > div {
    width: calc(50% - 20px);
  }
}

.contact-us form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-style {
  display: inline-block;
  margin-bottom: 100px;
}
.form-style .form-group {
  display: flex;
}

footer {
  background-color: #202833;
}
footer .footer-content {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  footer .footer-content {
    margin: 0 50px;
  }
  footer .footer-content .menu1,
footer .footer-content .menu2,
footer .footer-content .menu3 {
    display: none;
  }
}
footer .footer-content .footer-width {
  width: 20%;
}
footer .footer-content .footer-width a {
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer span {
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
}
footer p {
  line-height: 10px;
  font-size: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
